{
    "sftp_host": "",
    "sftp_port": "",
    "sftp_user": "",
    "sftp_password": "",
    "polr_mysql_password": "",
    "polr_app_name": "",
    "polr_app_address": "",
    "polr_default_admin_username": "",
    "polr_default_admin_password": "",
    "shareftp_host": "",
    "shareftp_username": "",
    "shareftp_password": "",
    "filestash_config_secret": "",
    "rss_miniflux_database_password": "",
    "wordpress_vic_database_password": "",
    "searx_host": "",
    "code_server_git_name": "",
    "code_server_git_email": "",
    "coder_postgres_password": "",
    "coder_access_url": "",
    "coder_wildcard_url": "",
    "ghost_mysql_password": "",
    "ghost_public_url": "",
    "ghost_smtp_host": "",
    "ghost_smtp_user": "",
    "ghost_smtp_password": "",
    "ghost_smtp_from": "",
    "pterodactyl_app_url": "",
    "pterodactyl_mail": "",
    "pterodactyl_mariadb_password": "",
    "pterodactyl_smtp_host": "",
    "pterodactyl_smtp_password": "",
    "pterodactyl_smtp_port": "",
    "pterodactyl_smtp_username": "",
    "umami_postgres_password": "",
    "umami_app_secret": "",
    "supabase_postgres_password": "",
    "supabase_smtp_host": "",
    "supabase_smtp_port": "",
    "supabase_smtp_user": "",
    "supabase_smtp_password": "",
    "supabase_smtp_sender": "",
    "supabase_smtp_admin_email": "",
    "supabase_site_url": "",
    "supabase_jwt_secret": "",
    "concourse_postgres_password": "",
    "concourse_add_local_user": "",
    "concourse_main_team_local_user": "",
    "flowise_username": "",
    "flowise_password": "",
    "tailscale_auth_key": ""
}